/*Space Mono Font*/
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --Strong-cyan: hsl(172, 67%, 45%);
    --dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}
body{
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    background-color: var(--Light-grayish-cyan);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header{
    padding-bottom: 5rem;
}
main{
    background-color: var(--White);
    width: 800px;
    border-radius: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 3rem;
}

