/*Space Mono Font*/
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --Strong-cyan: hsl(172, 67%, 45%);
    --dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}
body{
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    background-color: var(--Light-grayish-cyan);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header{
    padding-bottom: 5rem;
}
main{
    background-color: var(--White);
    width: 850px;
    border-radius: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
.left{ 
    width: 100%;
    padding: 2rem;
}
.left_top{
    margin-bottom: 1em;
}
.left_amount, .num_people{
    margin-top: 0.5rem;
}
input{
    width: 100%;
    padding: 1rem;
    background-color: var(--Very-light-grayish-cyan);
    text-align: right;
    color: var(--dark-cyan);
    font-weight: 700;
    font-size: 1.5rem;
    border: none;
    outline-color: var(--Strong-cyan);
    border-radius: 0.5rem;
}
input:hover{
    cursor: pointer;
    border: var(--Strong-cyan);
}
input::placeholder{
    color: var(--dark-cyan);
    outline-color: var(--Strong-cyan);
}
.left_amount img{
    position: absolute;   
    left: 31.5%;
    transform:translate(100%,120%);
}
.left_mid{
    margin-bottom: 1em;
}
.left_mid button{
    width: 30%;
    background-color: var(--dark-cyan);
    color: var(--White);
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 0;
    border: none;
    border-radius: 0.5rem;
    margin-top: 1em;
}
.left_mid button:hover{
    background-color: var(--Light-grayish-cyan);
    color: var(--dark-cyan);
    cursor: pointer;
}
#custom{
   width: 30%;
   border: none;
   border-radius: 0.5rem;
   background-color: var(--Very-light-grayish-cyan);
   color: var(--dark-cyan);
   font-weight: 700;
   text-align: center;
   font-size: 1rem;
   outline-color: var(--Strong-cyan);
}
.left_bot img{
    position: absolute;
    bottom: 24.5%;
    left: 31.5%;
    transform: translate(100%,100%);
}
.right{
    height: 45vh;
    width: 100%;
    padding: 2rem;
    background-color: var(--dark-cyan);
    color: var(--Very-light-grayish-cyan);
    border-radius: 0.5rem;
}
.right h1{
    font-size: 1rem;
    font-weight: 700;
    margin: 1rem 0;
}
.right h1 i{
    font-size: 0.8rem;
}
.right p{
    font-weight: 700;
    font-size: 2em;
    color: var(--Strong-cyan);
}
.top_right{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.bot_right{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.right button{
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 32%;
    text-transform: uppercase;
    color: var(--dark-cyan);
    background-color: var(--Strong-cyan);
    font-weight: 700;
    border: none;
}
.right button:hover{
    cursor: pointer;
    background-color: var(--Light-grayish-cyan);
}
.error{
    border: 2px solid red;
}
  
@media only screen and (max-width:768px){
    main{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    header{
        padding: 1.5rem 0;
    }
    .left_top img{
        left: 12%;
    }
    .left_mid button, #custom{
         width: 47%; 
    }
    .left_bot img{
        left: 13%;
        bottom: 32%;
    }
    .right{
        height: 100%;
    }
    .right h1{
        margin: 0;
    }
    .right p{
        font-size: 2rem;
    }
    .right button{
        margin-top: 5%;
    }
}

