/*Space Mono Font*/
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --Strong-cyan: hsl(172, 67%, 45%);
    --dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}
body{
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    background-color: var(--Light-grayish-cyan);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header{
    padding-bottom: 5rem;
}
main{
    background-color: var(--White);
    width: 800px;
    border-radius: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.left{ 
    width: 100%;
}
form{
    padding: 1rem;
}
.total{
    margin-right: 1rem;
    margin-bottom: 3rem;
}
.left_amount img{
    position: absolute;
    bottom: 53.5%;
    right: 67%;
}
.left_amount input, .guests input{
    padding: 0.5rem 4rem;
    background-color: var(--Grayish-cyan);
    opacity: 30%;
    outline: none;
    border: none;
}

.selection button{
    padding: 1rem 1.5rem;
    margin: 1rem 0;
}
.selection input{
    width: 70px;
    padding: 1rem 0;
}
.right{
    width: 100%;
    background-color: var(--dark-cyan);
    color: var(--White);
    padding: 5rem;  
    margin: 1rem;  
}
.top_right{
    display: flex;
    justify-content: space-between;
}
.top_right h1{
    border: 1px solid black;
    font-size: 18px;
    font-weight: 700;
}
.top_right p{
    font-size: 3rem;
}
.bot_right{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.bot_right h1{
    font-size: 18px;
    font-weight: 700;
}